.Flight-Booker div {
  max-width: 400px;
  margin: auto;
}

.Flight-Booker div > * {
  width: 100%;
  display: block;
}

.Flight-Booker :disabled {
  background: #eee;
}

.Flight-Booker .error {
  background: #dd9999;
}