
.CRUD .wrapper {
  max-width: 400px;
  text-align: left;
  margin: auto;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  grid-auto-flow: row;
}

.CRUD .buttons {
  grid-column: 1/3;
  display: flex;
  justify-content: space-evenly;
}

.CRUD button {
  flex: 1 1 0%;
}

.CRUD input {
  width: 100%;
}
